@model authintrocw.Models.CustomerModel;
@{
    ViewData["Title"] = "Add Customer";
}
<h1>Add Member</h1>
@using (@Html.BeginForm("AddMember", "Home"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(customer => customer.customerFirstName)
        @Html.TextBoxFor(customer => customer.customerFirstName, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(customer => customer.customerLastName)
        @Html.TextBoxFor(customer => customer.customerLastName, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(customer => customer.customerProfile)
        @Html.TextBoxFor(customer => customer.customerProfile, new { @class="form-control"})
    </div>
  <button type="submit" class="btn btn-primary"> Submit </button>
}